@media screen and (max-width: 1024px) {
  .navbar__menu {
    top: 0;
  }

  .navbar__menu ul {
    margin-right: 33px;
  }

  .section {
    flex-direction: column;
    margin: 15px;
  }

  p {
    line-height: 1em !important;
  }

  .about_text {
    text-indent: 0;
  }
}
