.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-twitter {
    color: white;
}

.fa-github {
    color: white;
}

.fa-facebook {
    color: white;
}

.fa-linkedin {
    color: white;
}